.buttons {
    display: flex;
    gap: 16px;
}

.button-red {
    background-color: var(--color-red-main);

    &:hover {
        background-color: var(--color-red-hover);
    }
}

.button-blue {
    background-color: var(--color-blue-main);

    &:hover {
        background-color: var(--color-blue-hover);
    }
}

.button-transparent {
    color: var(--color-blue-main);
    background-color: transparent;

    &:hover {
        background-color: var(--color-transparent-hover);
    }
}

.remove-button,
.edit-button {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid var(--button-border-color);
    background-color: transparent;
    flex-shrink: 0;

    path {
        fill: #A1A1A1;
    }

    &:hover {
        background-color: var(--icon-red-hover);
        border-color: var(--icon-red-hover);

        path {
            fill: var(--color-white);
        }
    }
}

.edit-button {
    &:hover {
        background-color: var(--color-blue-main);
        border-color: var(--color-blue-main);

        path {
            fill: var(--color-white);
        }
    }
}

.remove-group, .remove-button, .edit-button {
    position: relative;
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
    }
}